.InputStyle {
    padding: 8px 12px 8px 12px;
    color: black;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    box-shadow: none;
    line-height: 20px;
    margin-bottom: 30px;
}

/* input:invalid::after {
    border-color: green;
} */

/* input:invalid {
    border-color: red;
} */
/* 
input:invalid:not(:focus) {
    border-color: red;
} */
/* input:valid {
    background-color: green;
} */

/* input::after{
    background-color: green;
} */