.AddButtonStyle{
    width:35px;
    height:35px;
    visibility: hidden;
    position: relative;
}

.imgStyleAdd{
    width:35px;
    height:35px;
    top:-8px;
    left:2px;
    visibility: visible;
    position: absolute;
}

.AddBWrapper{
    display: flex;
    justify-content: center;

}