.ChangeVievButtonStyle{
    width:20px;
    height:20px;
    position:absolute; 
    right: 15px;
    visibility: hidden;
}

.imgStyle{
    width:20px;
    height:20px;
    right: 10px;
    visibility: visible;
    /* top: 12px; */
    top: 9px;
    position: relative;
}